
.icon-th-list:before { content: '\e800'; } /* '' */
.icon-ok-circled2:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-signal:before { content: '\e803'; } /* '' */
.icon-leaf:before { content: '\e804'; } /* '' */
.icon-globe:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-folder:before { content: '\e807'; } /* '' */
.icon-folder-open:before { content: '\e808'; } /* '' */
.icon-list:before { content: '\e809'; } /* '' */
.icon-align-justify:before { content: '\e80a'; } /* '' */
.icon-picture:before { content: '\e80b'; } /* '' */
.icon-lock-open:before { content: '\e80c'; } /* '' */
.icon-attach:before { content: '\e80d'; } /* '' */
.icon-tags:before { content: '\e80e'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e810'; } /* '' */
.icon-bookmark:before { content: '\e811'; } /* '' */
.icon-cc-sa:before { content: '\e812'; } /* '' */
.icon-chart-area:before { content: '\e813'; } /* '' */
.icon-th-list-outline:before { content: '\e814'; } /* '' */
.icon-thumbs-up:before { content: '\e815'; } /* '' */
.icon-bell:before { content: '\e816'; } /* '' */
.icon-mic-outline:before { content: '\e817'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
.icon-hand-paper-o:before { content: '\f256'; } /* '' */
.icon-industry:before { content: '\f275'; } /* '' */
.icon-envira:before { content: '\f299'; } /* '' */
.icon-thermometer-quarter:before { content: '\f2ca'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */